{
  "logic_serv":$logic_serv,
  "log_file":"conn_serv.log",
  "max_conn":10000,
  "listen_addr":"$listen_addr",
  "manage_addr":["$m_addr"],
  "zlib_on":1,
  "valid_conn":1,
  "enc_type":3,
  "rsa_pub_key_file":"cfg/rsa_public_key.pem",
  "rsa_pri_key_file":"cfg/rsa_private_key.pem",
  "monitor_inv":5
}