{ 
  "target_servs":[$ts1],
  "log_file":"db_serv.log",
  "redis_addr":"$redis_addr",
  "max_conn":100,
  "normal_conn":10,
  "auth_pass":"cbuju",
  "manage_addr":["$m_addr"],
  "init_redis_after":10,
  "init_uid":10001,
  "uid_incr":1,
  "monitor_inv":5
}