{
  "proc_name":"$proc_name" , 
  "logic_servs":[$logic_serv_start,$logic_serv_end],
  "log_file":"db_serv.log",
  "redis_open":1,
  "redis_addr":"$redis_addr",
  "max_conn":100,
  "normal_conn":10,
  "auth_pass":"foobared"
}