{
  "conn_serv":$conn_serv,
  "disp_serv_list":[40001,40002],
  "master_db":$master_db,
  "slave_db":$slave_db,
  "log_file":"logic_serv.log",
  "manage_addr":[":7000" , "127.0.0.1:7001"],
  "max_online":1500,
  "client_timeout":10,
  "monitor_inv":5
}