{
  "conn_serv":$conn_serv,
  "disp_serv_list":[40001,40002],
  "db_serv":$db_serv,
  "log_file":"logic_serv.log",
  "manage_addr":["$m_addr"],
  "net_log_addr":["127.0.0.1:8000" , "127.0.0.1:8001"],
  "net_log_method":2,
  "max_online":1500,
  "client_timeout":10,
  "monitor_inv":5
}