{
"listen_addr":"$listen_addr",
"http_addr":"$http_addr",
"log_file":"manage_serv.log",
"client_list":[[10001,"conn_serv-1"],[20001,"logic_serv-1"],[30001,"db_logic_serv-1"]],
"heart_timeout":20,
"reload_timeout":10,
"auth":["admin:admin&2020)" , "nmsoccer:csxxooxxsuomei"],
"auth_expire":3600
}